body {
    direction: rtl;
    background-color: #001f4d;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background: linear-gradient(to bottom, #00008b, #000000), url('texture.png');
    background-size: cover, cover;
    background-blend-mode: overlay;
    background-attachment: fixed; /* גורם לרקע להישאר קבוע */
}

.hidden {
    display: none;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #001f4d;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    position: relative;
    text-align: center;
}

.family-photos {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.family-photos img {
    width: 150px; /* התאמת גודל התמונות */
    height: 150px;
    border-radius: 50%;
    border: 5px solid #fff;
}

.close-btn {
    color: white;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.close-btn:hover {
    color: #ccc;
}

.center-text {
    text-align: center;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(0, 0, 139, 0.8); /* כחול כהה עם שקיפות */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 10px 0;
	flex-wrap: wrap;
    
}

.navbar ul {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap if needed */
    justify-content: center; /* Center the items */
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.navbar ul li {
    flex: 1 1 auto; /* Flex items grow to fill available space on large screens */
    text-align: center; /* Center the text */
    margin: 5px 0; /* Space between rows on mobile */
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
    transition: background-color 0.3s;
    width: 100%;
}

@media (max-width: 768px) {
    .navbar ul li {
        flex: 1 1 50%; /* On small screens, allow items to wrap into two rows */
    }
}


.content {
    width: 100%;
    max-width: 1200px;
    padding: 100px 20px 20px; /* הוספתי padding למעלה כדי לפצות על הסרגל הקבוע */
    box-sizing: border-box;
    margin: 0 auto;
}

.image-container {
    display: flex;
    justify-content: space-around; /* מחלק את התמונות באופן שווה */
    flex-wrap: wrap; /* מאפשר לתמונות לעבור לשורה הבאה במקרה הצורך */
}

.circle-image {
    width: 300px; /* הגדרת רוחב התמונה */
    height: 330px; /* הגדרת גובה התמונה */
    border-radius: 50%; /* מאפיין זה יהפוך את התמונה לעגולה */
    object-fit: cover; /* מאפיין זה יגרום לתמונה להתאים בצורה טובה יותר למסגרת */
}

.circle-images {
    width: 220px; /* הגדרת רוחב התמונה */
    height: 220px; /* הגדרת גובה התמונה */
    border-radius: 50%; /* מאפיין זה יהפוך את התמונה לעגולה */
    object-fit: cover; /* מאפיין זה יגרום לתמונה להתאים בצורה טובה יותר למסגרת */
    object-position: center; /* ממקם את מרכז התמונה במרכז המסגרת */
    margin: 10px; /* מרווח בין התמונות */
}

.container {
    display: inline-block;
    text-align: right; /* כדי שהרשימה תהיה מימין לשמאל */
}

ul {
    list-style-position: inside; /* כדי שהנקודות יהיו קרובות יותר לטקסט */
    padding: 0;
    margin: 0;
}

.title {
    margin-bottom: 10px;
}

.subtitle {
    margin-top: 30px;
}

.image1 {
    object-position: 0% 70%; /* שנה את הערכים בהתאם לצורך */
}

.image2 {
    object-position: 400% 10%;
}

.image4 {
    object-position: 600% 0%;
}

.image5 {
    object-position: 700% 10%;
}

.image6 {
    object-position: 400% 0%;
}

.image7 {
    object-position: 20% 35%;
}

@media (max-width: 768px) {
    .navbar ul {
        flex-direction: row;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    .navbar ul li {
        margin: 0 10px;
    }

    main {
        margin-top: 60px; /* Adjust margin as needed based on the height of your nav */
    }

    .nav-item {
        flex: none;
        width: 100%;
    }

    .text {
        text-align: center;
    }
}
.contact-icons img {
    width: 30px; /* שינוי הגודל ל-30 פיקסלים */
    height: 30px;
}

.contact-icons .phone-icon {
    width: 30px; /* הגדרת רוחב האייקון ל-30 פיקסלים */
    height: 30px; /* הגדרת גובה האייקון ל-30 פיקסלים */
}
/* styles.css */
.icon-container {
    display: flex;
    align-items: center;
}

.icon {
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    margin: 0 10px; /* Space between icons */
}
.icons-container {
    
    dis

  
display: flex;
    
    justify-conten

    justify-co

    justif

    j
justify-content: space-around; /* כוונן את המרחב בהתאם לצורך */
    
 
padding: 20px;
    
   
flex-wrap: nowrap; /* מבטיח שכל האייקונים יהיו בשורה אחת */
}


}
.icons-container img {
    
    wi

   
width: 30px; /* גודל קטן יותר */
    
    heig

    h

  
height: auto;
}